[submodule "pos_simple/feng-yang-qi-jun/pos3"]
	path = pos_simple/feng-yang-qi-jun/pos3
	url = https://github.com/wfsovereign/pos3.git
[submodule "pos_simple/zhang-hang/pos"]
	path = pos_simple/zhang-hang/pos
	url = https://github.com/littletwoblack/pos.git
