[submodule "pos_simple/feng-yang-qi-jun/pos3"]
	path = pos_simple/feng-yang-qi-jun/pos3
	url = https://github.com/wfsovereign/pos3.git
[submodule "pos_simple/wangzhongbi/POS"]
	path = pos_simple/wangzhongbi/POS
	url = https://github.com/wangzhongbi/POS.git
[submodule "pos_jquery/wangzhongbi/Pos-jquery"]
	path = pos_jquery/wangzhongbi/Pos-jquery
	url = https://github.com/wangzhongbi/Pos-jquery.git
